.box{
    max-width: 1000px;
    background-color: blueviolet;
    font-family: serif;
    height: auto;
    color: white;
    height: auto;
    margin: auto;
}
@media(max-width:500px){
    .box{
        background-color: blue;
        color: black;
    }
}
.box2{
    width: 100px;
    height: 100px;
    background-color: pink;
    position: absolute;
    animation-name: este;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    top: 10px;

}
@keyframes este{
    from{
        background-color: pink;
        width: 100px;

    }
    to{
        background-color: blueviolet;
        width: 50px;

    }
}
@keyframes este{
    0%{
        left: 10px;
        top: 10px;
        background-color: pink;

    }
    25%{
        left: 210px;
        top: 10px;
        background-color: coral;

    }
    50%{
        left: 210px;
        top: 210px;
        background-color: cornflowerblue;

    }
    75%{
        left: 10px;
        top: 210px;
        background-color: crimson;

    }
    100%{
        left: 10px;
        top:10px;
        background-color: pink;
    }
}