*{
    width: 150px;
}

fieldset{
    width: 350px;
    padding: 30px;
    margin: auto;
}

legend{
    padding-bottom: 10px;
    padding-top:0%;
    text-align: left;
}

.form{
    
}

