body{
    margin: 0 auto;
    background-color: gray
    ;
}
.contenido{
    width:1000px ;
    color: white;
    background-color: black;
    margin: auto;

}
.logo{
    float: left;;
}
.search{
    float: right;
}
.clearfix{
    clear: both;
}
.main-menu{
    background-color: lightslategray;
    color: black;
}
.main-menu>ul{
margin: 0px;
padding: 0px;
list-style: none;
}
.main-menu>ul>li{
    display: inline-block;
}
.main-menu>ul>li>a{
    color: bisque;
    display: block;
    font-family: sans-serif;
    padding: 15px;
    text-decoration: none;
    font-size: small;
}
.main-menu>ul>li>a:hover{
    background-color: darkslategray;
}
.drop{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
}
.drop>li>a{
    color: bisque;
    display: block;
    font-family: sans-serif;
    padding: 15px;
    text-decoration: none;
    font-size: small;
    background-color: lightslategray ;
    display: none;

}
.drop>li>a:hover{ 
    background-color: darkslategray
}

.main-menu>ul>li:hover .drop>li>a{
    display: block;
}

/*Banner*/
.banner{
    width: 1000px;
    height: 665.45px;
    overflow: hidden;
}
.banner img{
    width: 100%;
    height: auto;
}

/*content-holder*/
.content-holder{
    background-color: dimgray;
}
.content{
    width: 700px;
    height: auto;
    padding: 30px;
    background-color: aliceblue;
    color: black;
    float: left;  
}
.content h1{
    font-size: 1.5em;
    font-family: sans-serif;
}
.content p{
    font-size: small;
    font-family: sans-serif;
}
/*Side bar*/
.sidebar{
    float: left;
    padding: 25px;
}
.sidebar h3{
    font-family: sans-serif;
    color: white;
}
.sidebar ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.sidebar ul>li>a{
    display: block;
    margin-bottom: 5px;
    font-family: serif;
    font-style: italic;
    text-decoration: none;
    color: white;
}
/*footer*/
.main-footer{
    background-color: black;
    color: white;
    width: 950px;
    height: 150px;
    padding: 25px;
}
.footer-box{
    width: 237.50px;
    height: auto;
    float: left;
    font-family:sans-serif;
}
.footer-box ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.footer-box ul>li> a{
    display: block;
    font-size: small;
    margin-bottom: 5px;
    color: white;
    text-decoration: none;
}
.footer-box>address>p{
    font-size: small;
}
.copy{
    font-family: sans-serif;
    padding: 25px;
    text-align: center;
}
.copy>p{
    margin: 0px;
}
/*page*/
.content img{
  max-width: 100%; 
}
